body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 5px solid black;
}

.chessboard div {
  width: 60px;
  height: 60px;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}
